<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f6car.base.dao.org.TbOrgMapper">
  <resultMap id="BaseResultMap" type="com.f6car.base.po.org.TbOrg">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pk_id" jdbcType="BIGINT" property="pkId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="contact_mobile" jdbcType="VARCHAR" property="contactMobile" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="creationtime" jdbcType="TIMESTAMP" property="creationtime" />
    <result column="modifiedtime" jdbcType="TIMESTAMP" property="modifiedtime" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="id_parent" jdbcType="BIGINT" property="idParent" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="entity_code" jdbcType="CHAR" property="entityCode" />
    <result column="bussiness" jdbcType="VARCHAR" property="bussiness" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="store_logo" jdbcType="VARCHAR" property="storeLogo" />
    <result column="application_logo" jdbcType="VARCHAR" property="applicationLogo" />
    <result column="responsible" jdbcType="VARCHAR" property="responsible" />
    <result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="account_number" jdbcType="VARCHAR" property="accountNumber" />
    <result column="id_customer_carzone" jdbcType="VARCHAR" property="idCustomerCarzone" />
    <result column="id_department_carzone" jdbcType="VARCHAR" property="idDepartmentCarzone" />
    <result column="is_task_mode_enable" jdbcType="TINYINT" property="isTaskModeEnable" />
    <result column="position_x" jdbcType="DECIMAL" property="positionX" />
    <result column="position_y" jdbcType="DECIMAL" property="positionY" />
    <result column="open_time" jdbcType="TIME" property="openTime" />
    <result column="close_time" jdbcType="TIME" property="closeTime" />
    <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation" />
    <result column="from_flag" jdbcType="INTEGER" property="fromFlag" />
    <result column="enable_supplier_export" jdbcType="TINYINT" property="enableSupplierExport" />
    <result column="is_cloud_item_searchable" jdbcType="TINYINT" property="isCloudItemSearchable" />
    <result column="is_cloud_part_searchable" jdbcType="TINYINT" property="isCloudPartSearchable" />
    <result column="need_scan_login" jdbcType="TINYINT" property="needScanLogin" />
    <result column="need_check_uuid" jdbcType="TINYINT" property="needCheckUuid" />
    <result column="uuid_count_limit" jdbcType="INTEGER" property="uuidCountLimit" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    pk_id, code, name, contacts, contact_number, contact_mobile, fax, province, city, 
    area, street, address, detail_address, email, creationtime, modifiedtime, creator, 
    modifier, id_parent, is_del, entity_code, bussiness, logo, store_logo, application_logo, 
    responsible, zip_code, end_date, qq, bank_account, account_number, id_customer_carzone, 
    id_department_carzone, is_task_mode_enable, position_x, position_y, open_time, close_time, 
    abbreviation, from_flag, enable_supplier_export, is_cloud_item_searchable, is_cloud_part_searchable, 
    need_scan_login, need_check_uuid, uuid_count_limit
  </sql>
</mapper>